@font-face {
  font-family: "AmaticSC-Bold";
  src: url(/fonts/AmaticSC-Bold.woff2);
}
@font-face {
  font-family: "AmaticSC-Regular";
  src: url(/fonts/AmaticSC-Regular.woff2);
}
body {
  background-color: #F5F5E2;
  font-family: "AmaticSC-Regular";
}
body header .navbar {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
body header .navbar a {
  font-size: 25px;
  color: #8EA257;
  text-align: center;
  font-family: "AmaticSC-Bold";
  padding: 20px 20px;
  text-decoration: none;
}
body header .navbar a:hover {
  background-color: #E4E1C7;
}
@media (max-width: 575.98px) {
  body header .navbar a {
    font-size: 20px;
  }
}
body header .navbar .dropdown {
  overflow: hidden;
}
body header .navbar .dropdown:hover .dropdown_recipes {
  background-color: #8EA257;
  display: block;
}
body header .navbar .dropdown .dropbtn {
  font-size: 25px;
  border: none;
  color: #8EA257;
  padding: 20px 20px;
  font-family: "AmaticSC-Bold";
  background-color: inherit;
}
body header .navbar .dropdown .dropbtn:hover {
  background-color: #E4E1C7;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  body header .navbar .dropdown .dropbtn {
    font-size: 20px;
  }
}
body header .navbar .dropdown .dropdown_recipes {
  display: none;
  position: absolute;
  z-index: 3;
}
body header .navbar .dropdown .dropdown_recipes a {
  color: #F5F5E2;
  font-size: 20px;
  padding: 20px 20px;
  display: block;
  text-align: left;
}
body header .navbar .dropdown .dropdown_recipes a:hover {
  background-color: #E4E1C7;
  color: #8EA257;
}
body header .navbar .dropdown .dropdown_recipes .active_img {
  background-color: #a49477;
  color: #E4E1C7;
}
body header .navbar .dropdown .dropdown_recipes .active_img:hover {
  background-color: rgb(45, 22, 77) !important;
}
body header .navbar .dropdown .dropdown_recipes .modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 95vh;
  overflow: auto;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content {
  background-color: #E4E1C7;
  margin: auto;
  padding: 6px;
  border: 1px solid rgba(245, 242, 242, 0.831372549);
  width: 80vw;
  height: 90vh;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  justify-items: center;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .close {
  color: #797979;
  float: right;
  background-color: rgba(251, 251, 251, 0);
  z-index: 5;
  font-size: 28px;
  align-self: anchor-center !important;
  font-weight: bold;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .close:hover,
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .closeL {
  color: #797979;
  float: right;
  background-color: rgba(251, 251, 251, 0);
  z-index: 5;
  font-size: 28px;
  align-self: anchor-center !important;
  font-weight: bold;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .closeL:hover,
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .closeL :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body main .heroshoot {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}
body main .heroshoot .hero-img {
  padding-right: 6%;
  position: absolute;
  width: 55vw;
}
@media (max-width: 639.98px) {
  body main .heroshoot .hero-img {
    width: 80vw !important;
  }
}
body main .heroshoot h1 {
  color: #F5F5E2;
  position: absolute;
  padding-top: 4%;
  font-size: 4vw;
  font-family: "AmaticSC-Bold";
}
@media (max-width: 639.98px) {
  body main .heroshoot h1 {
    font-size: 7vw !important;
    font-weight: 900 !important;
  }
}
body main .banner {
  overflow: hidden;
}
body main .banner .banner-track {
  padding-top: 30px;
  animation: scroll 15s linear infinite;
  width: 100vw;
  display: flex;
}
body main .banner .banner-track:hover {
  animation-play-state: paused;
}
body main .banner .banner-item {
  width: 250vw;
  min-height: 5vh;
  margin-right: 10px;
}
body main .banner .banner-item img {
  width: 100vw;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}
body main .news-section {
  text-align: center;
  padding: 2rem;
  margin-top: 30px;
}
body main .news-section .slider-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  max-width: 1210px;
  overflow-x: auto;
  margin: 0 auto;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
  -ms-overflow-style: none;
  height: 460px;
}
body main .news-section .slider-container .news-card {
  background-color: #F0AC70;
  color: #E4E1C7;
  border-radius: 30px;
  min-width: 280px;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
}
body main .news-section .slider-container .news-card .news_container {
  display: flex;
  justify-content: center;
}
body main .news-section .slider-container .news-card .news_container .news_img {
  width: 280px;
  border-radius: 30px 30px 0 0;
  opacity: 0.9;
}
body main .news-section .slider-container .news-card .news_container .news_img:hover {
  opacity: 1;
}
body main .news-section .slider-container .news-card .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 30px 30px;
  width: 100%;
  align-self: center;
  box-shadow: 1px -7px 10px 6px rgba(233, 200, 173, 0.4862745098);
  height: 220px;
}
body main .news-section .slider-container .news-card .info-container H1 {
  font-size: 16px;
  color: #F5F5E2;
  line-height: 25px;
  height: 34px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 15px 0;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}
body main .news-section .slider-container .news-card .info-container p {
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 25px;
  max-height: 50px;
  display: -webkit-box;
  color: #8EA257;
  -webkit-box-orient: vertical;
  padding: 5px 15px;
  align-self: anchor-center;
  background-color: #F5F5E2;
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  width: 250px;
}
body main .news-section .slider-container .news-card .info-container .news_btn {
  background-color: #F5F5E2;
  padding: 7px 20px;
  margin: 1px 5px;
  border-color: #ebbe86;
  border-style: double;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #F0AC70;
  cursor: pointer;
  font-family: "AmaticSC-Bold";
  font-weight: 700;
  text-decoration-line: none;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  filter: drop-shadow(8px 5px 8px rgb(155, 111, 44));
  transition: all 0.5s ease-in;
}
body main .news-section .slider-container .news-card .info-container .news_btn:hover {
  background-color: #F0AC70;
  color: #F5F5E2;
  border-color: #ffffff;
  transition: all 0.5s ease-out;
  filter: drop-shadow(8px 5px 8px rgb(63, 50, 31));
}
body main .news-section .slider-container::-webkit-scrollbar {
  background-color: transparent;
}
body main .title_facts {
  font-size: 45px;
  color: #8EA257;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 65px;
  font-weight: 600;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body main .row-facts {
  display: flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 80px;
}
body main .column-facts {
  max-width: 25%;
  padding: 0 10px;
}
body main .column-facts img {
  width: 100%;
  margin: 10px;
  opacity: 0.5;
}
body main .column-facts img:hover {
  opacity: 0.8;
  scale: 100deg;
}
@media (max-width: 814.98px) {
  body main .column-facts {
    max-width: 50%;
  }
}
body main .health-container {
  margin: 40px auto;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main .health-container button {
  background-color: #8EA257;
  padding: 8px 20px;
  margin: 10px 50px;
  border-color: #e1e6d6;
  border-radius: 5px;
  margin-left: 5px;
  color: #e1e6d6;
  cursor: pointer;
  font-family: "AmaticSC-Bold";
  font-size: 25px;
  transition: all 0.5s ease-in;
}
body main .health-container button:hover {
  background-color: #E4E1C7;
  color: #8EA257;
  transition: all 0.5s ease-out;
  filter: drop-shadow(8px 5px 8px rgb(3, 3, 3));
}
body main .benefits_container {
  display: none;
}
body main .js_benefits_container {
  display: flex !important;
  flex-direction: column;
  box-shadow: #797979;
  background-color: #e1e6d6;
  width: 50vw;
  justify-self: anchor-center;
  padding: 50px;
  filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));
}
body main .js_benefits_container li {
  font-size: 18px;
  font-weight: 600;
  color: #8EA257;
  filter: drop-shadow(15px 8px 3px rgb(255, 255, 255));
}
body main .btn_toggle {
  display: none;
}
body main .table_container {
  display: none;
}
body main .js_table_container {
  justify-content: center;
  display: flex;
  justify-items: center;
  flex-direction: row;
}
body main .js_table_container .nutrients {
  border-collapse: collapse;
  width: 70vw;
}
body main .js_table_container .nutrients th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8EA257;
  color: white;
  border: 2px solid #8EA257;
  font-size: 24px;
  font-weight: 800;
}
body main .js_table_container .nutrients td {
  border: 1px solid #8EA257;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #8EA257;
}
@media (max-width: 575.98px) {
  body main .js_table_container .nutrients td {
    font-size: 16px;
  }
}
body footer .footer_cont {
  display: flex;
  width: 92vw;
  padding: 10px 0;
  flex-direction: row;
}
body footer .footer_cont img {
  position: absolute;
}
body footer .footer_cont .left_img {
  left: 0;
}
body footer .footer_cont .right_img {
  right: 0;
}
body footer .footer_cont .recipes-footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: anchor-center;
  justify-content: center;
}
body footer .footer_cont .recipes-footer .footer-r h5 {
  font-size: 20px;
  padding: 20px;
  margin-right: 30px;
  color: #a49477;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 6px rgba(200, 226, 179, 0.4862745098);
}
body footer .footer_cont .recipes-footer .footer-r li {
  list-style: none;
}
body footer .footer_cont .recipes-footer .footer-r li a {
  text-decoration: none;
  color: #8EA257;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}
@media (max-width: 814.98px) {
  body footer .footer_cont .left_img,
  body footer .footer_cont .right_img {
    width: 120px;
    padding-top: 60px;
  }
  body footer .footer_cont .recipes-footer {
    align-items: center;
    flex-direction: column;
  }
  body footer .footer_cont h5 {
    font-size: 16px !important;
    margin-right: 0px !important;
    padding: 13px !important;
  }
  body footer .footer_cont a {
    font-size: 18px !important;
  }
}/*# sourceMappingURL=main.css.map */